body {
    background-color: #f8f9fa;
}

.category-table {
    margin-top: 20 px;
}

.table-container {
    margin-bottom: 20 px;
}

.modal-body {
    font-size: 16 px;
}

.modal-body h6 {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

